.logo-container{
  margin:5% 5%;
  width:90%;
  height:30%;
  display:block;
  background-color:lightblue;
}

.logo-title{
  font-family:"Roboto";
  font-weight:bold;
  font-size:30px;
  text-align: center;
  padding-top:40%;
}

.nav-footer-banner{
  margin:5% 5%;
  width:90%;
  height:20%;
  display:block;
  background-color:green;
}
