.logo-container{
  display:block;
}

.logo-title{
  font-family:"";
  font-weight:bold;
  font-size:20px;
  text-align: center;
  padding-top:30%;
}

.nav-footer-banner{
  margin:5% 5%;
  width:90%;
  height:20%;
  display:block;
  background-color:green;
}

.footer-container{
  margin-left:20%;
}
