.logo-container{
  display:block;
  height:20%;
}

.logo-title, .banner-text{
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
  font-size:20px;
}

.nav-footer-banner{
  margin:5% 5%;
  width:90%;
  height:20%;
}

main {
  margin-left:20%;
  margin-top:2%;
}

.item-list{
  width:85%;
  display:inline-block;
}

.main-banner-container {
  margin-right:1%;
  width:200px;
  height:auto;
  float:right;
}

.main-first-banner, .main-second-banner{
  margin:5px; auto;
  width:200px;
  height:1000px;
}

.page-footer {
  margin-top:2%;
}

.footer-container {
  padding-left:19%;
}
